.button-wrapper {
	margin: 1rem 0;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.drawer-wrapper {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.flex-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
