@font-face {
	font-family: 'Abel';
	src: local('Abel'), url(./fonts/Abel-Regular.ttf) format('truetype');
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Abel', sans-serif;
}

.text-normal {
	text-transform: none !important;
}

.ul {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 0.9rem;
	list-style-type: none;
}

.cRed {
	color: red !important;
}
