@font-face {
	font-family: 'Abel';
	src: local('Abel'), url(./fonts/Abel-Regular.ttf) format('truetype');
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Abel;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: 'Abel', sans-serif;
}

.text-normal {
	text-transform: none !important;
}
