@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
	margin: 0;
	font-family: 'Abel', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.pointer {
	cursor: pointer;
}

.MuiTableCell-root {
	padding: 8px !important;
}

h3 {
	font-family: 'Abel', sans-serif;
	font-weight: 700;
}

.font-secondary {
	font-family: 'Abel', sans-serif !important;
}
