.fullImageButton {
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%);
	display: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.parentImage:hover + .fullImageButton,
.fullImageButton:hover {
	display: inline-block;
}

.test {
	height: 90%;
	width: 90%;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #c3c1c1;
	top: 0;
	left: 0;
	-webkit-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-moz-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-o-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-ms-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
}
.test > h1 {
	font-size: 1.7rem;
}

.test:hover {
	background-color: #ffd609;
	height: 100%;
	width: 100%;
}
