.fullImageButton {
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%);
	display: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.parentImage:hover + .fullImageButton,
.fullImageButton:hover {
	display: inline-block;
}

.test {
	height: 90%;
	width: 90%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c3c1c1;
	top: 0;
	left: 0;
	-webkit-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-moz-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-o-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-ms-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
}
.projectValueWrapper {
	height: 90%;
	width: 90%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c3c1c1;
	top: 0;
	left: 0;
	-webkit-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-moz-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-o-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	-ms-transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
	transition: background-color 200ms linear, height 200ms linear,
		width 200ms linear;
}
.test > h1 {
	font-size: 2rem;
	font-weight: bolder;
	word-break: break-all;
	text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
}
.projectValueWrapper > h1 {
	font-size: 0.9rem;
	word-break: break-all;
}

@media screen and (max-width: 800px) {
	.test > h1 {
		font-size: 1.2rem;
	}
}

.test:hover {
	background-color: #dec029;
	height: 100%;
	width: 100%;
}
.projectValueWrapper:hover {
	background-color: #dec029;
	height: 100%;
	width: 100%;
}

/* Ribbon */

/* common */
.ribbon {
	width: 136px;
	height: 120px;
	overflow: hidden;
	position: absolute;
}
.ribbon::before,
.ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid #2980b9;
}
.ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 3px 0;
	background-color: #3498db;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 700 18px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	text-align: center;
}

/* top left*/
.ribbon-top-left {
	top: -10px;
	left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
	border-top-color: transparent;
	border-left-color: transparent;
}
.ribbon-top-left::before {
	top: 0;
	right: 30px;
}
.ribbon-top-left::after {
	bottom: 12px;
	left: 0;
}
.ribbon-top-left span {
	right: -25px;
	top: 30px;
	transform: rotate(-45deg);
}
